.game-presentation, .riot-presentation {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 80rem;
    background-color: #1f2a35;
    color: #ece8e1;
    border-radius: 0.8rem;
    border: 2px solid #f44336;
    box-shadow: 0.0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.game-presentation h2, .riot-presentation h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #f44336;
}

.presentation-image {
    width: 100%;
    max-width: 50rem;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 0.8rem;
    box-shadow: 0.0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.game-presentation p, .riot-presentation p {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
    margin: 1rem 0.0rem;
}
