/* Section des maps */
.maps-container {
    padding: 20px;
    background: #1A2633; /* Couleur pour les sections des maps */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.map-container {
    background: #101820; /* Couleur sombre avec accent bleu/gris */
    border: 2px solid #00E8A0; /* Vert signature pour les éléments tactiques */
    border-radius: 8px;
    width: calc(33.333% - 20px);
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    transition: box-shadow 0.3s ease;
}

.map-container:hover {
    box-shadow: 0px 4px 15px rgba(0, 232, 160, 0.5);
}

.map-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.map-title {
    font-size: 1.5rem;
    margin-top: 10px;
}