html {
    font-size: 10px;
}

/* Styles généraux pour respecter l'univers de Valorant */
body {
    background-color: #0F1923; /* Couleur principale sombre de Valorant */
    color: #FFFBF5; /* Texte blanc pour le contraste */
    font-family: 'Rajdhani', sans-serif; /* Police moderne utilisée dans l'univers gaming */
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

h1 {
    font-family: Stencil Std, fantasy;
    font-size: 10rem;
}
/* Supprimer le style des liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Supprimer le style des listes */
ul, ol, li {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

.ListSectionLink {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

/* Boutons stylisés */
button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.SectionLink {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}
.SectionLink::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #0F1923;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
.SectionLink::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #0F1923;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
.SectionLink:hover::before {
    transform: translateY(-25px);
    height: 0;
}
.SectionLink:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}
.SectionLink:hover {
    border: 2px solid #fefefe;
}
.SectionLink .SectionLink-span {
    position: relative;
}
